/* elements */
* {
  margin: 0;
  border: 1px solid;
  border-color: crimson;
};

.hidden {
  display: none!important;
}

html {
  height: 100%;
  width: 100%;
};
body {
  height: 100%;
}
main {
  background-color: #F5F5F5;
  display: flex;
  height: 100%;
};

/* stacked items */
.search,
.recipies, 
.favorites, 
.grocery-list, 
.planner {
  border-radius: 20px;
  background-color: #A9A9A9;
};


/* search bar and tags */
.nav-search {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
};

.side-nav {
  background-color: lightgray;
  height: 100%;
  margin-top: 0%;
}

/* top navigation */

.top-nav {
  background-color:#A9A9A9;
  display: flex;
  justify-content: flex-end;
  width: 100%;
  height: 12%;
};

.nav-buttons {
  display: flex;
  justify-content: space-around;
  width: 85%;
  height: 100%;
}

.search {
  width: 15%;
}

/* main title and recipes title */

.section-titles {
  height: 100%;
  width: 100%;
}

.main-section {
  height: 100%;
  width: 100%;
};
.whats-cooking-img {
  height: 5vh;
  width: 5vw;
}
.whats-cookin-title {
  text-align: center;
  font-size: 25px;
  height: 100%;
  width: 25%;
}

.all-recipes-title {
  height: 5%;
  width: 100%;
  text-align: center;
  font-size: 30px;
}

/* all recipes */
.all-recipes-section {
height: 100%;
display: flex;
flex-wrap: wrap;



}
.row {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 20%;
}

.recipe {
height: 15vh;
width: 15vw;
margin: 10px;
display: flex;
flex-direction: column;
justify-content: center;
}

.recipe-image{
  height: auto;
  width: auto;
}

/* single recipe section  */

.single-recipe {
  height: 100%;
  display: flex;
  flex-direction: column;
};

.single-recipe-img {
  height: 45%;
  width: 100%;

}

.ingredient-list,
.instructions {
  height: 50vh;
  width: 50%;
}

.ingredient-instructions-section {
  display: flex;
  flex-direction: row;
}